[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
streamlit-chat = "*"
python-dotenv = "*"
langchain = "*"
langgraph = "*"
langchain-groq = "*"
langserve = {extras = ["all"], version = "*"}

[dev-packages]

[requires]
python_version = "3.12"
